body {
    background-color: #000000;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; /* Hide horizontal overflow */
}


.header-box {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: #353f4c;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-around;    
}

.header-box a {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    float: right;
    text-align: center;
    padding: 6px;
    line-height: 20px;
    border-radius: 4px;
}

.header-box a :hover{
    color: #00f0f5;
    background-color: #d52c89;
}

.content-box {
    width: 80%;
    height: 85vh;
    margin: 0 auto; /* Centers the box horizontally */
    background-color: #353f4c;
    box-sizing: border-box;
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;
    overflow: auto;
}

.content {
    height: 800px;
  }

::-webkit-scrollbar{
    display: none;
}