.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 500px;
  margin-bottom: 100px;
}

.logo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1200px;
}

.fire {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(-45deg) scale(5, 5);
  left: calc(80% - 25px);
  margin-left: 390px;
  z-index: 2;
}

.yellow {
  left: 15px;
  width: 30px;
  height: 30px;
  background: #ffd700;
  box-shadow: 0px 0px 8px 4px #ffd700;
}

.orange {
  left: 10px;
  width: 40px;
  height: 40px;
  background: #ffa500;
  box-shadow: 0px 0px 8px 4px #ffa500;
}

.red {
  left: 5px;
  width: 50px;
  height: 50px;
  background: #ff4500;
  box-shadow: 0px 0px 8px 4px #ff4500;
}

.bean {
  width: 290px;
  height: 400px;
  background: #8b4513;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.sunglasses {
  top: 15%;
  left: 50%;
  width: 70px;
}

.arch {
  width: 180px;
  height: 5px;
  background: #000;
  border-radius: 50%;
}

.lens {
  width: 50px;
  height: 40px;
  background: #000;
  border-radius: 50%;
}

.text {
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.hot-beans {
  font-family: "rubik";
  font-size: 200px;
  display: flex;
  margin-top: 100px;
}

.hot {
  color: #ff4500;
  margin-bottom: 10px;
}

.beans {
  color: #ffd700;
}